version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue_config.yml
          mapping: |
            debian-13.sh build-qcow2 true
            debian-13-base.sh build-qcow2-base true
            debian-13-lxc.yaml build-lxc true
          filters:
            branches:
              only:
                - master
